<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav-menu" mode="side" opened>
      <button    class="cerrar-sesion"    mat-raised-button     (click)="cerrarSesion()"    color="warn">
        Cerrar sesion
      </button>
      <img class="imagen" [src]="foto" />
      <p>Usuario: {{ nomApe }}</p>
      <p *ngIf="rol != 'Administrador'">Local: {{ local }}</p>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header *ngIf="rol == 'Administrador'">

            <mat-panel-title>Usuarios</mat-panel-title>

          </mat-expansion-panel-header>
          <button mat-button color="primary" (click)="asignarTipoBoton('listarusuarios')">Lista</button>
          <!-- <button mat-button color="primary" (click)="asignarTipoBoton('listaMovUsuarios')">Movimientos</button> -->
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Productos</mat-panel-title>

          </mat-expansion-panel-header>
          <button *ngIf="rol == 'Administrador'" mat-button color="primary" (click)="asignarTipoBoton('altaproducto')">Alta</button>
          <button mat-button color="primary" (click)="asignarTipoBoton('listaproductos')">Lista</button>
          <!-- <button *ngIf="rol == 'Administrador'" mat-button color="primary" (click)="asignarTipoBoton('lmp')">Movimientos</button>-->
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header *ngIf="rol == 'Administrador'">
            <mat-panel-title>Locales</mat-panel-title>
          </mat-expansion-panel-header>

          <button mat-button color="primary" (click)="asignarTipoBoton('altalocal')">Alta</button>
          <button mat-button color="primary" (click)="asignarTipoBoton('listarlocales')">Lista</button>
          <!-- <button mat-button color="primary" (click)="asignarTipoBoton('listarlocales')">Movimientos</button> -->
        </mat-expansion-panel>

        </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-contenedor">
      <ng-container [ngSwitch]="tipoBoton">

        <app-tabla-listados-usuarios *ngSwitchCase="'listarusuarios'" [rol]="rol">
        </app-tabla-listados-usuarios>
        <app-tabla-listados-productos *ngSwitchCase="'listaproductos'" [rol]="rol">
        </app-tabla-listados-productos>
        <!-- <app-tabla-listados-usuarios-movimientos *ngSwitchCase="'listaMovUsuarios'" [rol]="rol">
          </app-tabla-listados-usuarios-movimientos> -->

          <!-- <app-tabla-listados-productos-movimientos *ngSwitchCase="'lmp'" [rol]="rol">
          </app-tabla-listados-productos-movimientos> -->

        <app-alta-producto *ngSwitchCase="'altaproducto'"> </app-alta-producto>

        <app-tabla-listados-locales *ngSwitchCase="'listarlocales'" [rol]="rol">
        </app-tabla-listados-locales>

        <app-alta-local *ngSwitchCase="'altalocal'"></app-alta-local>
        <app-tabla-listados-movimientos *ngSwitchCase="'listarmovimientos'" [rol]="rol"
        >
        </app-tabla-listados-movimientos>
        <p *ngSwitchDefault>Nada seleccionado</p>
      </ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
